.full-width-table {
  width: 100%;
}
.mat-column-id {
  width: 10% !important;
}
.mat-column-question {
  width: 50% !important;
}
.mat-column-view {
  width: 15% !important;
}
.mat-column-reply {
  width: 15% !important;
}
.mat-column-count {
  width: 10% !important;
}
.ask-question {
  float: right;
}
.btn-section {
  padding-top: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 50px !important;
  padding-left: 15px !important;
}