.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.ask-question {
  background-color: #c2185b;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-margin {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #424242;
  color: white;
}